.gradle
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
.idea/
.idea
/app/app.iml
/CollegeApp.iml
/gradlew
/build.gradle
/settings.gradle
/gradlew
/gradlew.bat
/gradle.properties
/gen/
/app/build
/app/proguard-rules.pro
