<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.techhab.rss">
    <application>
        <service
            android:name=".EventsRssService"
            android:exported="false" />
        <service android:name=".SportsRssService"
            android:exported="false" />
    </application>
</manifest>
